*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    background-color: rgb(61, 59, 59);
}
/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
} */

.cust{
    padding: 15px;
}